@model IEnumerable<MGM.Models.CostQty>

@{
    ViewData["Title"] = "CostQtyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cost  -  Qty</h1>

<p>
    <a asp-action="Create"class="btn btn-primary">Create New Cost and Qty</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CostQtyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CostQtyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CostQtyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
