@model IEnumerable<MGM.Models.GrowMedia>

@{
    ViewData["Title"] = "GrowMediaIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Add New Grow Media</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfBags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.NoOfBags)
            </td>
                <td class ="text-center">
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.Subtotal)
                    
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.CurrentTotal)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.RemainingTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GrowMediaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GrowMediaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GrowMediaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Model.Sum(i=>i.Subtotal)
</div>